.btn{
	cursor: pointer;
	background: #fff;
	color: #333;
	padding: 15px 35px;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: $font-bold;
	border: none;
	margin: 10px 0;
	transition: all .5s ease;

	&:hover{
		color: #fff;
		background: $gold-color;
	}

	&--to-top{
		background: none;
		border-radius: 100%;
		width: 50px;
		height: 50px;
		color: #fff;
		display: block;
		line-height: 47px;
		position: fixed;
		bottom: 30px;
		right: 20px;
		padding: 0;
		text-align: center;
		font-size: 20px;
		z-index: 888;

		i{
			width: 16px;
		}
	}
}
